# ==========================================
# 1. FRONTEND (Next.js)
# ==========================================
node_modules/
.next/
out/
build/
.env*.local

# ==========================================
# 2. BACKEND (AWS Lambdas)
# ==========================================

**/node_modules/

**/.env*

**/function.zip
*.zip

# ==========================================
# 3. SISTEMA Y SVN
# ==========================================
.DS_Store
Thumbs.db